* {
    margin: 0px;
    padding: 0px;
}

#logout a{
    background-image: linear-gradient(to bottom left, rgb(228, 40, 228), rgb(111, 235, 111));
    border-radius: 15px;
    padding: 7px;
    color: white;
    /* color: linear-graident(red,yellow); */
    text-decoration: none !important;
}